{% extends "base.html" %}
{% block content %}

<div class="detail-wrapper">

    <img src="{{ plant.image.url }}" class="detail-img">

    <div class="plant-info">
        <h1>{{ plant.name }}</h1>

        <p class='info'><strong>Category:</strong> {{ plant.category }}</p>
        <p class='info'><strong>About:</strong> {{ plant.about }}</p>
        <p class='info'><strong>Used For:</strong> {{ plant.used_for }}</p>
        <p class="info">
            <strong>Edible:</strong> 
            {% if plant.is_edible %}
                <span class="yes">Yes</span>
            {% else %}
                <span class="no">No</span>
            {% endif %}
        </p>
        
        <h3>Native Countries:</h3>

        <div class="countries-container">
            {% for c in plant.countries.all %}
                <a class="country-item" href="{% url 'plants_by_country' c.id %}">
                    <img class="country-flag" src="{{ c.flag.url }}" alt="">
                    <span class="country-link">{{ c.name }}</span>
                </a>
            {% endfor %}
        </div>


        {% if user.is_staff %} 
            <div class="buttons">
                <a href="/plants/{{ plant.id }}/update/" class="btn update">Update</a>
                <a href="/plants/{{ plant.id }}/delete/" class="btn delete">Delete</a>
            </div>
        {% endif %}
        
    </div>
</div>

<hr>

<h2>Related Plants</h2>
<div class="grid">
    {% for p in related %}
    {% include "parts/plant_card.html" with plant=p %} 
    {% empty %}
        <p>No related plants.</p>
    {% endfor %}
</div>

<hr>

<h2>Comments</h2>

{% if user.is_authenticated %}
<form method="POST">
    {% csrf_token %}
    <input type="text" name="full_name" placeholder="Your Name" required>
    <textarea name="content" placeholder="Write comment..." required></textarea>
    <button type="submit">Add comment</button>
</form>
{% else %}
<p class="alert">You must <a href="/login/">Login</a> to comment.</p>
{% endif %}


<div class="comments">
    {% for c in comments %}
        <div class="comment-card">
            <strong>{{ c.full_name }}</strong>
            <p>{{ c.content }}</p>
            <span>{{ c.created_at }}</span>
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}
</div>

{% endblock %}