
body {
    font-family: 'Inter', sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
  color: #101010;
}

.navbar-links a {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}


.main-img-section {
    position: relative;
    width: 90%;
    max-width: 900px;
    margin: 0 auto 20px auto;
}

.main-big-img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    display: block;
    border-radius: 18px;
    filter: brightness(0.85);
}

.main-img-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #030303;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
    z-index: 2;
}
.footer-box {
    background: #f7f7f7;
    padding: 40px 0;
    border-top: 1px solid #ddd;
}

.footer-inner {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-col {
    text-align: left;
}

.footer-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-icons a {
    margin-right: 12px;
    color: #333;
    font-size: 22px;
}

.footer-topic {
    font-weight: bold;
    margin-bottom: 12px;
}

.footer-link {
    color: #777;
    margin-bottom: 6px;
}
.fw-bold {
    font-size: 22px;
}

.text-muted {
    font-size: 14px;
    color: #6c757d;
}

.more-btn {
    font-weight: 600;
    font-size: 15px;
    color: #000;
}
.more-btn:hover {
    color: #30393a;
}