* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 4rem;
    
}
h1, h2 {
    font-family: sans-serif;
}
.nav-bg{
    background-color: rgb(39, 134, 151);
}
.navbar-brand h2 {
    font-family: sans-serif;
}

body {
    min-height: 100vh;
}


p {
    white-space:pre-line;
}

hr {
    opacity: 1;
    height: 1rem;
    border: none;
    background-color: rgb(39, 134, 151);
}

.logo {
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in;
}

.logo:hover {

    text-shadow: -0.2rem 0.1rem 0px rgb(30, 31, 31);
}



.top-nav span {
    padding:0.2rem;

}

.top-nav .active-icon {
    background-color: white;
    border-radius: 50%;
    color:black;
}


.btn-add-nav{
    padding: 0.5rem 0.5rem;
    font-size: 16px;
}

.img-contact{
    height: 80vh;
    object-fit: cover;
    width: 100%;
}

.plant-header{
    background-image: url("/static/images/header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 150px;
    text-align: center;
    color: black;
    border-radius: 10px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.plant-header h1{
    font-size: 70px;
    font-weight: 500;
    margin: 0;
}
.plant-header h2{
    font-size: 50px;
    font-weight: 600;
    margin: 0;
}
.search-box{
    display: flex;
    max-width: 600px;
    width: 100%;
    margin: 1rem auto 0;

}

.search-box input{
    flex:1;
}

.img-details{
    width: 85%; height: 70vh; object-fit: cover;
}

@media only screen and (max-width:800px)  {
    .hero {
        transform: skewX(0deg);
        transition: all 0.3s ease-in;
    }

}
@media (max-width:766px){
     .contact-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .contact-container{
        order: 2;
        width: 100%;
        padding: 0 15px;
    }
        .img-contact{
        width: 100%;
        max-height: 100px;
        object-fit: cover;
    }
}

@media (max-width:768px){
    .plant-header{
        padding: 50px 30px;
        height: 50vh;
    }
    .plant-header h1{
        font-size: 40px;
    }
    .plant-header h2{
        font-size: 28px;
    }
   

    .img-details{
    width: 100%; height: 90vh; object-fit: cover; align-items: center;
}

}
@media (max-width:992px){
    .contact-container{
        padding: 0 30px;
    }

    .plant-header{
        padding: 30px 20px;
        height: 45vh;
        gap: 15px;
    }
    .plant-header h1{
        font-size: 30px;
    }
    .plant-header h2{
        font-size: 20px;
    }

}
