*
{
    padding: 0px;
    margin: 0px;
}

.header
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/header-bg.png');
}

.header h1
{
    font-size: 4rem;
    font-weight: 900;
    color: #fff;
    
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,   
    -1px 1px 0 #000, 
    1px 1px 0 #000; 
}

.header h2
{
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,   
    -1px 1px 0 #000, 
    1px 1px 0 #000; 
}

/* ---- ----- --- */
.content
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* -- contact page -- */
.global
{
    width: 100%;
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.global .contact-content
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.global .contact-img
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.global .contact-img img
{
    width: 360px;
    height: 485px;
}