.form-wrapper {
    max-width: 850px;
    margin: 60px auto;
}

.form-title {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 25px;
}

.add-form {
    background: #fff;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 5px 14px rgba(0,0,0,0.07);
    display: grid;
    gap: 20px;
}

.add-form label {
    font-size: 15px;
    font-weight: 600;
}

.add-form input {
    width: 100%;
    padding: 13px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #fafafa;
    font-size: 14px;
}

.submit-btn {
    padding: 14px 28px;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
}


